In [1]:
import pandas as pd
import seaborn as sns
import xlsxwriter
import matplotlib.pyplot as plt

borough = ['The Bronx', 'Brooklyn', 'Manhattan', 'Queens', 'Staten Island']
pop = [1418207, 2559903, 1628706, 2253858, 476143]
size = [42.10, 70.82, 22.83, 108.53, 58.37]

data = {"borough": borough, "pop": pop, "size": size}

nyc = pd.DataFrame(data)

# Sort from high to low
nyc = nyc.sort_values(by='pop', ascending=False)

nyc

         borough      pop    size
1       Brooklyn  2559903   70.82
3         Queens  2253858  108.53
2      Manhattan  1628706   22.83
0      The Bronx  1418207   42.10
4  Staten Island   476143   58.37

In [2]:


size_col = nyc.columns.get_loc('size')

borough_col = nyc.columns.get_loc('borough')

max_row = nyc.shape[0]

In [3]:
# Set Pandas engine to xlsxwriter
writer = pd.ExcelWriter('nyc.xlsx', engine='xlsxwriter')

# Convert the dataframe to an XlsxWriter Excel object.
nyc.to_excel(writer, sheet_name='Sheet1', index=False)

# Get the xlsxwriter objects from the DataFrame writer object.
workbook  = writer.book
worksheet = writer.sheets['Sheet1']

In [4]:
nyc_chart = workbook.add_chart({'type': 'column'})


# sheetname, first_row, first_col, last_row, last_col]

# Don't include header data in the chart
nyc_chart.add_series({
    'name':       'Borough',
    'categories': ['Sheet1', 1, 0, max_row, 0],
    'values':     ['Sheet1', 1, 1, max_row, 1],
})

# Set chart title
nyc_chart.set_title({'name': 'Population by borough'})


# Insert the chart into the worksheet.
worksheet.insert_chart('G2', nyc_chart)

In [5]:
# Set a currency number format for a column.

pop_column = list(nyc.columns).index('pop')


num_format = workbook.add_format({'num_format': '#,##0'})

# Start column position, end column position, column width, column format
worksheet.set_column(pop_column, pop_column, None, num_format)

0

In [6]:
# Close the Pandas Excel writer and output the Excel file.
writer.save()